body {
    background: url(images/bg-intro-desktop.png) hsl(0, 100%, 74%);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100vh;
    grid-row-gap: 1.25em;
    align-items: center;
    justify-items: center;
    margin: auto;
}

.sign-up-card {
    background: #fbfbfb;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    height: 350px;
    margin: 6rem auto 8.1rem auto;
    width: 400px;
    padding: 20px;
    text-align: center;
}

.input-box {
    border-radius: 5px;
    padding: 10px;
    margin: 11px 0;
    width: 90%;
    border: 1px solid lightslategray;
    outline: none;
}

.trialbtn {
    border-radius: 5px;
    width: 98%;
    padding: 15px;
    margin: 10px 0;
    font-size: 15px;
    background-color: navy;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
}

button {
    border-radius: 5px;
    width: 98%;
    padding: 15px;
    margin: 10px 0;
    font-size: 15px;
    background-color: rgb(65, 243, 30);
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
}

.hero-text {
    grid-column: 2;
    text-align: left;
    color: white;
}

